*.DS_Store
*.so
*.a
*.exe
*.o
*.out
C,C++/cmake/CMakeFiles/
*.pyc
*.dSYM/
.vscode/
!server/python/.vscode/
*/node_modules/
*/dist/
*/**/dist
node_modules/
package-lock.json
.node-persist/
*.rdb
venv/
pnpm-lock.yaml
*log.log
uploads/
**/helloWorld.js
**/helloWorld.wasm
dify/opensource/
dify/backups/
server/express1/*.log 